<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> <!-- mapper임을 명시하기 위한 DTD 선언 -->
		
<mapper namespace="com.spring.mapper.BoardMapper2">
	<select id="getAllBoard" resultType="com.spring.practice.dto.PracticeDTO">
		select
			*
		from
			board
	</select>
	<insert id="insertBoard">
		insert into board(
			writer,
			email,
			subject,
			password,
			reg_date,
			read_count,
			content)
		values(
			#{writer},
			#{email},
			#{subject},
			#{password},
			now(),
			#{readCount},
			#{content})
	</insert>
	
	<select id="getOneBoard" resultType="com.spring.practice.dto.PracticeDTO">
		select 
			*
		from
			board
		where
			num=#{num}		
	</select>
	
	<select id="validateUserCheck" resultType="com.spring.practice.dto.PracticeDTO">
		select
			*
		from
			board
		where
			num=#{num} and password=#{password}	
	</select>
	
	<update id="increaseReadCount">
		update
			board
		set
			read_count=read_count+1
		where
			num=#{num}		
	</update>
	
	<update id="update">
		update
			board
		set
			subject=#{subject},
			content=#{content}	
		where 
			num=#{num}	
	</update>
	
	<delete id="delete">
		delete from
			board
		where
			num=#{num}	
	</delete>
</mapper>		